version: '3.8'
services:
  db:
    image: postgres
    environment:
      POSTGRES_DB: medical_clinic
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: '2306'
    volumes:
      - postgres-volume:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build: .
    depends_on:
      - db
      - logstash
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/medical_clinic
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: '2306'

  medical-clinic-app:
    build: ../medical-clinic-proxy
    container_name: medical-clinic-app
    ports:
      - '8081:8081'
    environment:
      - MEDICAL_CLINIC_URL=http://app:8080
    depends_on:
      - app
      - db

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    ports:
      - "8888:80"
    volumes:
      - pgadmin-volume:/var/lib/pgadmin/data
    environment:
      PGADMIN_DEFAULT_EMAIL: user-name@domain-name.com
      PGADMIN_DEFAULT_PASSWORD: strong-password

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.0
    container_name: elasticsearch
    environment:
      - node.name=elasticsearch
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"

  kibana:
    image: docker.elastic.co/kibana/kibana:8.17.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  logstash:
    image: docker.elastic.co/logstash/logstash:8.17.0
    container_name: logstash
    environment:
      - LS_JAVA_OPTS=-Xms512m -Xmx512m
    volumes:
      - ./logstash/config/logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
      - ./logstash/config/jvm.options:/usr/share/logstash/config/jvm.options:ro
    ports:
      - "5050:5050"
    depends_on:
      - elasticsearch

volumes:
  postgres-volume:
  pgadmin-volume:
  elasticsearch-data:
    driver: local